@import "../node_modules/@uppy/core/dist/style.css";
@import "../node_modules/@uppy/dashboard/dist/style.css";
@import "../node_modules/@uppy/status-bar/dist/style.css";
@import "../node_modules/@uppy/provider-views/dist/style.css";
@import "../node_modules/@uppy/informer/dist/style.css";
@import "../node_modules/@uppy/drag-drop/dist/style.css";

.drop-box {
  margin-bottom: 2em;
  margin-top: 2em;
}

.drop-box-file-list {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    list-style: none;
    margin: 0;
    padding: 0;

    a {

    }
  }
}